---
title: JameScape
layout: layouts/home.njk
description: A solo osrs player blog
image: https://i.pinimg.com/originals/9f/cd/c7/9fcdc786f6c6450a27190a4f482ac393.jpg
date: Last Modified
---

<p>
  This is an osrs blog ran from my Discord channel that includes my manic thoughts and plans for account progression.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
